.imageBox {
  border-radius: 100px;
  justify-self: center;
}
.title {
  color: whitesmoke;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}
.titleBox {
  color: whitesmoke;
  display: flex;
  border-radius: 100px;
  background-color: #364d79;
  width: 70%;
  height: 200px;
  padding-left: 5%;
  padding-bottom: 0%;
  justify-content: space-between;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
