.nav {
  display: flex;
  margin-top: 2%;
  justify-content: space-around;
  border-radius: 25px;
  background-image: linear-gradient(to right, purple, transparent);
}

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.imageBox {
  border-radius: 100px;
  justify-self: center;
  /* border: solid 10px black; */
}

.titleBox {
  display: flex;
  border-radius: 100px;
  background-image: linear-gradient(to right, transparent, orange);
  width: 70%;
  height: 200px;
  padding-left: 5%;
  padding-bottom: 0%;
  justify-content: space-between;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
