.container {
  padding: 0 2rem;
  color: whitesmoke;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.imageBox {
  border-radius: 100px;
  justify-self: center;
  /* border: solid 10px black; */
}

.titleBox {
  color: whitesmoke;
  display: flex;
  border-radius: 100px;
  background-color: #364d79;
  width: 70%;
  height: 200px;
  padding-left: 5%;
  padding-bottom: 0%;
  justify-content: space-between;
}

.title {
  color: whitesmoke;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}
.aboutBox {
  margin-top: 4%;
  display: flex;
  border-radius: 100px;
  background-color: #364d79;
  width: 70%;
  height: 200px;
  padding-left: 5%;
  padding-bottom: 0%;
  justify-content: space-around;
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
