.title {
  color: whitesmoke;
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}
.aboutBox {
  margin-top: 4%;
  display: flex;
  border-radius: 150px;
  background-color: #364d79;
  width: 70%;
  height: 300px;
  padding-left: 5%;
  padding-bottom: 0%;
  justify-content: space-around;
}
